p.old-price {
	text-decoration: line-through;
    opacity: 0.7;
}

.card .discount {
    position: absolute;
    right: 0;
    margin: 10px;
    color: white;
    padding: 7px;
    background: $discount-bg;
    height: 37px;
    transform: skew(-10deg);
	
	p {
		transform: skew(10deg);
	}
}